

.team {
    margin-top: 50px;
    width: 350px;
    display: inline-block;
    vertical-align: top;
}

@media screen and (max-width: 699px) {
    .team {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (min-width: 700px) {
    .team:nth-of-type(2) {
        margin-right: 100px;
    }
}

